{% load static %}
<div class="litem" data-open="false" >
    <div
        class="product-item user-select-none d-flex align-items-center justify-content-between my-2"
        role="button"
    >
        <div class="product-item-left d-flex align-items-center">
            <img src="/" alt="" />
            <span class="ms-3" style="font-weight:500;">
                {{ name }}
            </span>
        </div>

        <div class="product-item-right">
            <i class="bi bi-arrow-down-short fs-4 arrowIcon"></i>
            {% comment %} <i
                class={`bi ${
                    open ? "bi-arrow-up-short" : "bi-arrow-down-short"
                } fs-4`}
            ></i> {% endcomment %}
        </div>
    </div>
    <p class="product-item-description px-2 pitem d-none">{{ desc }}</p>
</div>